<div class="{{vm.style['mg-checkbox']}}"
     ng-class="{'fixed-block': vm.ellipsisEnabled || vm.wordWrapEnabled, 'ellipsis-enabled': vm.ellipsisEnabled, 'disabled-checkbox': vm.disabled}">
    <input type="{{vm.type}}"
           ng-attr-id="{{vm.id}}"
           ng-change="vm.change()"
           ng-value="vm.value"
           ng-model="vm.model"
           name="{{vm.name}}"
           class="mg-checkbox"
           ng-click="vm.click()"
           ng-checked="vm.checked"
           ng-class="{'checked': vm.checked, 'unchecked': !vm.checked}"
           ng-disabled="vm.disabled"/>
    <label ng-attr-for="{{vm.id}}"
           ng-attr-id="label-{{vm.id}}"
           class="mg-checkbox-label"
           ng-class="{'word-wrap': vm.wordWrapEnabled && !vm.ellipsisEnabled}">
        <span ng-transclude></span>
    </label>
</div>